body {
  background-color: rgb(226, 244, 250);
}

.main {
  width: 40%;
  margin: 100px auto;
  background-color: white;
  text-align: center;
  font-family: cursive;

  padding: 20px 15px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(179, 189, 192);
}
